<main id="main" class="cf" style="background-color: white; opacity: 1; border-radius: 5px; height: 1000px;">
  <section id="important" class="cf" style="width:100%; padding: 10px">
    <h1>Add New Beach</h1>
    <%= render 'form' %>
  </section>
</main>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
